* {
   margin: 0;
}

.app {
   display: flex;
   justify-content: space-between;
   padding: 0 5%;
}
.app__left {
   flex: 2;
}
.app__right {
   flex: 1;
}
.app__header {
   display: flex;
   justify-content: space-evenly;
}
.app__stats {
   display: flex;
   justify-content: space-around;
}
